* {
    font-family: roboto;
    text-decoration: none;
}

header {
    background-color: rgb(203, 195, 179);

}

.head-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 120px;
    margin-left: 170px;
}

.logo-wrap {
    flex-grow: 4;
}

.item-wrap {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin-right: 30px;
}

body {
    margin: 0;
}

.item1,
.item2,
.item3 {
    transition-duration: 0.5s;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    height: 50%;
    
}

.item3 :visited{
    color: black;
}

.item2 :visited{
    color: black;
}

.item1, .active{
    background-color: rgb(165, 159, 146);
    color: black;
}


.item1:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;
}

.item2:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;
}

.item3:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;

}

.imgclass{
    opacity: 70%;
    width: 100%;
}


.main-tab {
    height: AUTO;
    top: 0;

}

.text-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(145, 145, 145, .4);
    width: 400px;
    padding: 20px;
    position: sticky;
    margin-top: -300px;
    margin-right: 25px;
    float: right;
}

.h1class{
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
}

.pclass1{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
}

.button1{
    background-color: rgb(145, 145, 145);
    padding: 10px;
    transition: 0.5s;
}

.button1:hover{
    background-color: rgb(110, 110, 110);    
    cursor: pointer;   
}

.sec-tab{
    height: 700px;
    justify-content: space-between;
}

.head-text{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.island-wrap{
    display: flex;
    justify-content:center;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.item p{
    margin: 20px;
}

.island{
    height: 350px;
}

.button2-wrap{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button2{
    background-color: rgb(145, 145, 145);
    padding: 10px;
    transition: 0.5s;
    width: 100px;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;

}

.button2:hover{
    background-color: rgb(110, 110, 110);   
    cursor: pointer;    
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    background-color: rgb(203, 195, 179);
    height: 150px;
    bottom: 0;
    margin-top: 50px;
}