* {
    font-family: roboto;
    text-decoration: none;
}

header {
    background-color: rgb(203, 195, 179);

}

.head-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 120px;
    margin-left: 170px;
}

.logo-wrap {
    flex-grow: 4;
}

.item-wrap {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin-right: 30px;
}

body {
    margin: 0;
}

.item1,
.item2,
.item3 {
    transition-duration: 0.5s;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    height: 50%;    
}

.item3, .active{
    background-color: rgb(165, 159, 146);
    text-decoration: none;
    color: black;
}

.item2 :visited{
    color: black;
}

.item1 :visited{
    color: black;
}

.item1:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;
}

.item2:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;
}

.item3:hover {
    background-color: rgb(165, 159, 146);
    cursor: pointer;

}

.nadpis{
    text-align: center;
    margin-top: 80px;
}

.kontakt-udaje{
    text-align: center;
    margin: 50px;
}

.prvni-radek{
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;   
    margin: auto;
}

.druhy-radek{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;   
    margin: auto;
    margin-top: 20px;
}

.prvni-radek input{
    font-weight: 500;
    padding: 10px;
    height: 35px;
    border: none;
    background-color: rgb(209, 207, 203);
}

.druhy-radek input{
    font-weight: 500;
    padding: 10px;
    height: 35px;
    border: none;
    background-color: rgb(209, 207, 203);
}

.treti-radek textarea{
    font-weight: 500;
    padding: 10px;
    height: 100px;
    width: 355px;
    margin-top: 20px;
    resize: none;
    border: none;
    background-color: rgb(209, 207, 203);
}

.button3{
    background-color: rgb(145, 145, 145);
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    transition: 0.5s;
    width: 100px;
    color: rgb(255, 255, 255);

}

.button3:hover{
    background-color: rgb(110, 110, 110);   
    cursor: pointer;    
}



.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    background-color: rgb(203, 195, 179);
    height: 150px;
    bottom: 0;
    position: sticky;
    margin-top: 315px;
}