*{
    font-family: roboto;
}

body{
    background-color: rgb(196, 196, 196);
}

.hint{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.hint i{
    background: none;
}

main h1{
    text-align: center;
    font-size: 200%;
    margin: 25px;
}

.grid-item p{
    text-align: center;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-container div:nth-child(1){
    background-color: rgb(107, 107, 20);
    grid-column: 1 / 3;
}

.grid-container div:nth-child(2), :nth-child(3), :nth-child(5){
    background-color: yellow;
}

.grid-container div:nth-child(4){
    background-color: blue;
    grid-column: 1 / 4;
}

.grid-container div:nth-child(6){
    background-color: purple;
    grid-column: 1 / 5;
}

.grid-container div:nth-child(7), :nth-child(8){
    background-color: rgb(219, 219, 100);
}

.grid-container div:nth-child(9){
    background-color: lightblue;
    grid-column: 3 / 5;
}

